In [2]:
import sqlite3
import pandas as pd

In [ ]:
#create connection and validate we can see the data. 

conn = sqlite3.connect('sqlite_db_pythonsqlite.db')

tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print(tables)

df = pd.read_sql_query("SELECT * FROM Facilities;", conn)
print(df.head())

conn.close()

         name
0    Bookings
1  Facilities
2     Members
   facid             name  membercost  guestcost  initialoutlay  \
0      0   Tennis Court 1         5.0       25.0          10000
1      1   Tennis Court 2         5.0       25.0           8000
2      2  Badminton Court         0.0       15.5           4000
3      3     Table Tennis         0.0        5.0            320
4      4   Massage Room 1         9.9       80.0           4000

   monthlymaintenance
0                 200
1                 200
2                  50
3                  10
4                3000

Question 10

In [6]:
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')

Q10 = """
SELECT 
    Facilities.name AS facility_name,
    SUM(
        CASE 
            WHEN Bookings.memid = 0 THEN Facilities.guestcost * Bookings.slots
            ELSE Facilities.membercost * Bookings.slots
        END
    ) AS total_revenue
FROM Bookings
JOIN Facilities ON Bookings.facid = Facilities.facid
GROUP BY Facilities.name
HAVING total_revenue < 1000
ORDER BY total_revenue;
"""
df = pd.read_sql_query(Q10, conn)

print(df)

conn.close()

   facility_name  total_revenue
0   Table Tennis            180
1  Snooker Table            240
2     Pool Table            270

Question 11

In [8]:
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')

# SQL query for Question 11: Members and who recommended them
Q11 = """
SELECT 
    m.firstname || ' ' || m.surname AS member_name,
    r.firstname || ' ' || r.surname AS recommended_by
FROM Members m
LEFT JOIN Members r ON m.recommendedby = r.memid
ORDER BY m.surname, m.firstname;
"""

# Execute the query and load into DataFrame
df = pd.read_sql_query(Q11, conn)

print(df)

# Close the connection
conn.close()

                member_name     recommended_by
0            Florence Bader    Ponder Stibbons
1                Anne Baker    Ponder Stibbons
2             Timothy Baker     Jemima Farrell
3                Tim Boothe         Tim Rownam
4            Gerald Butters       Darren Smith
5               Joan Coplin      Timothy Baker
6             Erica Crumpet        Tracy Smith
7                Nancy Dare    Janice Joplette
8             David Farrell               None
9            Jemima Farrell               None
10              GUEST GUEST               None
11          Matthew Genting     Gerald Butters
12                John Hunt  Millicent Purview
13              David Jones    Janice Joplette
14            Douglas Jones        David Jones
15          Janice Joplette       Darren Smith
16           Anna Mackenzie       Darren Smith
17             Charles Owen       Darren Smith
18             David Pinker     Jemima Farrell
19        Millicent Purview        Tracy Smith
20               Tim Rownam               None
21         Henrietta Rumney    Matthew Genting
22         Ramnaresh Sarwin     Florence Bader
23             Darren Smith               None
24             Darren Smith               None
25               Jack Smith       Darren Smith
26              Tracy Smith               None
27          Ponder Stibbons       Burton Tracy
28             Burton Tracy               None
29      Hyacinth Tupperware               None
30  Henry Worthington-Smyth        Tracy Smith

Question 12

In [9]:
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')

# SQL query for Question 12: Facility usage by members only (excluding guests)
Q12 = """
SELECT 
    f.name AS facility_name,
    COUNT(*) AS usage_count
FROM Bookings b
JOIN Facilities f ON b.facid = f.facid
WHERE b.memid != 0
GROUP BY f.name
ORDER BY f.name;
"""

# Execute the query and load into DataFrame
df = pd.read_sql_query(Q12, conn)

print(df)

conn.close()

     facility_name  usage_count
0  Badminton Court          344
1   Massage Room 1          421
2   Massage Room 2           27
3       Pool Table          783
4    Snooker Table          421
5     Squash Court          195
6     Table Tennis          385
7   Tennis Court 1          308
8   Tennis Court 2          276

Question 13

In [10]:
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')

# SQL query for Question 13: Monthly facility usage by members only
Q13 = """
SELECT 
    f.name AS facility_name,
    strftime('%Y-%m', b.starttime) AS month,
    COUNT(*) AS usage_count
FROM Bookings b
JOIN Facilities f ON b.facid = f.facid
WHERE b.memid != 0
GROUP BY f.name, month
ORDER BY f.name, month;
"""

# Execute the query and load into DataFrame
df = pd.read_sql_query(Q13, conn)

print(df)

conn.close()

      facility_name    month  usage_count
0   Badminton Court  2012-07           51
1   Badminton Court  2012-08          132
2   Badminton Court  2012-09          161
3    Massage Room 1  2012-07           77
4    Massage Room 1  2012-08          153
5    Massage Room 1  2012-09          191
6    Massage Room 2  2012-07            4
7    Massage Room 2  2012-08            9
8    Massage Room 2  2012-09           14
9        Pool Table  2012-07          103
10       Pool Table  2012-08          272
11       Pool Table  2012-09          408
12    Snooker Table  2012-07           68
13    Snooker Table  2012-08          154
14    Snooker Table  2012-09          199
15     Squash Court  2012-07           23
16     Squash Court  2012-08           85
17     Squash Court  2012-09           87
18     Table Tennis  2012-07           48
19     Table Tennis  2012-08          143
20     Table Tennis  2012-09          194
21   Tennis Court 1  2012-07           65
22   Tennis Court 1  2012-08          111
23   Tennis Court 1  2012-09          132
24   Tennis Court 2  2012-07           41
25   Tennis Court 2  2012-08          109
26   Tennis Court 2  2012-09          126